* {
    box-sizing: border-box;
}

body {
    background-color: rgb(212, 222, 169);
}

img {
    max-width: 100%;
}

main {
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 5px solid #333;
}

header a{
    text-decoration: none;
    color: #111;
    align-items: center;
}

header a.logo{
    color: #111;
    font-weight: bolder;
    font-size: 1.7rem;
}

header nav {
    display: flex;
    gap: 15px;
    text-align: center;
}

div.entries {
    display: grid;
    grid-template-columns: .9fr 1.2fr;
    gap: 20px;
    border: 1px solid #365;
    border-radius: 5px;
    margin-bottom: 35px;
}

div.entries div.image {
    height: 100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.entries div.contex h2 {
    margin: 0;
    font-size: 1.8rem;
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
}

div.entries p.info {
    margin: 6px 0px;
    color: #888;
    font-size: .7rem;
    font-weight: bold;
    display: flex;
    gap: 10px;
}

div.entries p.info a.author {
    color:#333;
}

form.register p.acc-Q {
    text-decoration: none;
    color: #888;
    font-size: .7rem;
    font-weight: bold;
}

form.login p.acc-Q {
    text-decoration: none;
    color: #888;
    font-size: .7rem;
    font-weight: bold;
}

div.entries p.summary {
    margin: 10px 0;
    line-height: 1.5rem;
}

form.login, form.register {
    max-width: 400px;
    margin: 0 auto;
}

input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    padding: 10px 15px;
    border:0;
    background-color: #e2e9da;
    border-bottom: 3px solid #88a598;
    border-radius: 7px;
}

button {
    width: 100%;
    display: block;
    background-color: rgb(158, 189, 108);
    border: 0;
    border-radius: 7px;
    padding: 7px;
    font-weight: bold;
}

button.logout-button {
    width: 30%;
    background-color: rgb(177, 212, 137);
}

form h1{
    text-align: center;
}

footer {
    padding-top: 10px;
    padding-left: 20px;
    border-top: 1px solid #33333331;
}