* {
    box-sizing: border-box;
}
    /*background-color: rgba(169, 188, 222, 0.805);*/

body {
    background: linear-gradient(to right, #027bce, rgb(158, 181, 220));
}

img {
    max-width: 100%;
}

main {
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 5px solid #333;
}

header a{
    text-decoration: none;
    color: #111;
    align-items: center;
}

header a.logo{
    color: #111;
    font-weight: bolder;
    font-size: 1.7rem;
}

header nav {
    display: flex;
    gap: 15px;
    text-align: center;
}

div.entries {
    display: grid;
    grid-template-columns: 1.2fr;
    gap: 20px;
    border: 1px solid #365;
    border-radius: 5px;
    margin-bottom: 35px;
}
/*change min-width to 960*/
@media screen  and (min-width: 600px) {
    div.entries {
        grid-template-columns: .9fr 1.2fr;
    }
    header nav {
        display: flex;
        gap: 15px;
        text-align: center;
    }
}

div.entries div.image {
    /* height: 100%; */
    max-height: 300px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.entries div.image img {
    object-fit: cover;
    width: 1962px;
    height: 250px;
}

div.entries div.contex h2 {
    margin: 0;
    font-size: 1.8rem;
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
}

div.entries div.contex a{
    text-decoration: none;
    color: inherit;
}

div.entries p.info {
    margin: 6px 0px;
    color: #90e0ef;
    font-size: .7rem;
    font-weight: bold;
    display: flex;
    gap: 10px;
}

div.entries p.info a.author {
    color:#00768e;
}

form.register p.acc-Q {
    text-decoration: none;
    color: #00487c;
    font-size: .7rem;
    font-weight: bold;
}

form a{
    text-decoration: none;
    color: black;
}

form.login p.acc-Q {
    text-decoration: none;
    color: #00487c;
    font-size: .7rem;
    font-weight: bold;
}

div.entries p.summary {
    margin: 10px 0;
    line-height: 1.5rem;
}

form.login, form.register {
    max-width: 400px;
    margin: 0 auto;
}

input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    padding: 10px 15px;
    border:0;
    background-color: #e2e9da;
    border-bottom: 4px solid #00487c;
    border-radius: 7px;
}

button {
    width: 100%;
    display: block;
    background-color: #CAF0F8;
    border: 0;
    border-radius: 7px;
    padding: 7px;
    font-weight: bold;
}

button.logout-button {
    width: 70%;
    height: 95%;
    background-color: #00B4D8;
    border-radius: 50px;
}

form.login h1, form.register h1{
    text-align: center;
}

footer {
    padding-top: 10px;
    padding-left: 20px;
    border-top: 1px solid #33333331;
}

div.postPage div.image {
    max-height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.postPage div.image img {
    object-fit: contain;
    object-position: center center;
    max-width: 100%;
    max-height: 100%;
}

div.postPage div.image img {
    object-fit: contain;
    object-position: center center;
}

div.postPage a {
    text-decoration: underline !important;
    color: #111;
}

div.postPage h1 {
    text-align: center;
    margin: 30px 0px 10px;
}

div.postPage time {
    text-align: center;
    display: block;
    font-size: .9rem;
    color: #90E0EF;
}

div.postPage div.author {
    text-align: center;
    display: block;
    margin: 10px 20px;
    padding: 0px 0px 20px;
    border-bottom: #15151553 1px solid;
    border-radius: 1000%;
    font-size: small;
    font-weight: bolder;
}

div.postPage div.content {
    line-height: 1.7rem;
    padding-bottom: 10px;
}

div.postPage div.editRow{
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
}

div.postPage div.editRow a.edit-button {
    background-color: rgba(249, 198, 104, 0.8);
    display: inline-flex;
    margin-bottom: 10px;
    padding: 10px 150px;
    text-decoration: none;
    margin-top: 5px;
    border-radius: 20px;
    align-items: center;
    gap: 5px;
    text-decoration: none !important;
}

div.postPage div.editRow a.delete-button {
    background-color: rgba(241, 59, 59, 0.8);
    display: inline-flex;
    margin-bottom: 10px;
    padding: 10px 140px;
    text-decoration: none;
    margin-top: 5px;
    border-radius: 20px;
    align-items: center;
    gap: 5px;
    text-decoration: none !important;
}

a svg {
    height: 15px;
}